<!DOCTYPE html>
<html>
<head>
	<title>Avengers: Age of Ultron</title>
	<style>
		h1{
			color:white;
		}
		h3{
			color:white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
<h1>Avengers: Age of Ultron</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tmeOjFno6Do" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="{% static '/images/ultron.jpg' %}" width="20%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
<h3>
<p>When Tony Stark (Robert Downey Jr.) jump-starts a dormant peacekeeping program, things go terribly awry, forcing him, Thor (Chris Hemsworth), the Incredible Hulk (Mark Ruffalo) and the rest of the Avengers to reassemble. As the fate of Earth hangs in the balance, the team is put to the ultimate test as they battle Ultron, a technological terror hell-bent on human extinction. Along the way, they encounter two mysterious and powerful newcomers, Pietro and Wanda Maximoff.</p>
<p>When it comes right down to it, the events depicted in Joss Whedon's The Avengers: Age of Ultron happen because Tony Stark can't let go. He becomes Iron Man again when the opportunity presents itself to take down Hydra once and for all, but more importantly he's entirely obsessed with the idea of protecting the world from any outside force that may threaten it. This may seem like a good thing, but any obsession has consequences. Working with Bruce Banner and manipulating the newly discovered Mind Stone, he creates the artificial intelligence Ultron (James Spader) -- but in doing so also introduces the planet to one of the greatest threats it's ever seen, and the Avengers' newest enemy.</p>
</h3>
</body>
</html>