<!DOCTYPE html>
<html>
<head>
	<title>AVENGERS : INFINITY WAR</title>
	<style>
		h1{
			color:white;
		}
		h3{
			color:white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
<h1>AVENGERS : INFINITY WAR</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QwievZ1Tx-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="{% static '/images/infinity.jpeg' %}" width="20%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
<h3>Iron Man, Thor, the Hulk and the rest of the Avengers unite to battle their most powerful enemy yet -- the evil Thanos. On a mission to collect all six Infinity Stones, Thanos plans to use the artifacts to inflict his twisted will on reality. The fate of the planet and existence itself has never been more uncertain as everything the Avengers have fought for has led up to this moment.</h3>
</body>
</html>