<!DOCTYPE html>
<html>
<head>
	<title>AVENGERS</title>
	<style>
		h1{
			color:white;
		}
		h3{
			color:white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="Black">
	<h1>AVENGERS</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img src="{% static '/images/avengers.jpg' %}" width="20%">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
	<h3><center>When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth. Joining Fury's "dream team" are Iron Man (Robert Downey Jr.), Captain America (Chris Evans), the Hulk (Mark Ruffalo), Thor (Chris Hemsworth), the Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner)</h3>
		<br>
	<p><h3>With all of their principal heroes introduced, Marvel Studios brought its first crossover vision to life in 2012 with Joss Whedon's The Avengers. It all starts with The Tesseract, which has been in the possession of S.H.I.E.L.D. since shortly after World War II. It turns out there is a being in the cosmos that wants it, and they decide to send Loki to go get it. Utilizing a special staff that allows him to sway hotshot agent Clint Barton a.k.a. Hawkeye (Jeremy Renner) and Dr. Erik Selvig to his side, the God of Mischief makes plans to open a portal to outer space that will initiate a full-blown alien invasion on Earth. What he doesn't anticipate, though, is the unification of the planet's Mightiest Heroes.</h3></p>
</body>
</html>