<!DOCTYPE html>
<html>
<head>
	<title>BATMAN:BEGINS</title>
	<style>
		h1{
			color: white
		}
		h3{
			color: white

		}   
	</style>
	{% load static %}
</head>
<body bgcolor="black">
	<h1>BATMAN BEGINS</h1>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/neY2xVmOfUM?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <img src="{% static '/images/Batman_Begins.jpg' %}" width="20%">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
      <h3>A young Bruce Wayne (Christian Bale) travels to the Far East, where he's trained in the martial arts by Henri Ducard (Liam Neeson), a member of the mysterious League of Shadows. When Ducard reveals the League's true purpose -- the complete destruction of Gotham City -- Wayne returns to Gotham intent on cleaning up the city without resorting to murder. With the help of Alfred (Michael Caine), his loyal butler, and Lucius Fox (Morgan Freeman), a tech expert at Wayne Enterprises, Batman is born.</h3>

      
       
</body>
</html>