<!DOCTYPE html>
<html>
<head>
	<title>BATMAN DARK KNIGHT</title>
	<style>
		h1,h3{
			color: white;
		}
	</style>
	{% load static %}
</head>

<body bgcolor="black">
	<h1>BATMAN DARK KNIGHT</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/EXeTwQWrcwY?start=4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img src="{% static '/images/knight.jpg' %}" width="20%">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
	<h3>With the help of allies Lt. Jim Gordon (Gary Oldman) and DA Harvey Dent (Aaron Eckhart), Batman (Christian Bale) has been able to keep a tight lid on crime in Gotham City. But when a vile young criminal calling himself the Joker (Heath Ledger) suddenly throws the town into chaos, the caped Crusader begins to tread a fine line between heroism and vigilantism.
		<p>en months after swooping dramatically off of a roof at the finale of Batman Begins, everyone's favorite brooding vigilante (Christian Bale) is hard at work making life safer for Gotham City. The bad guys are running scared… until they get a visit from the Assassination Fairy, wearing a purple suit and calling himself the Joker (Heath Ledger). He promises to get rid of the Batman in exchange for a literal mountain of money, as well as putting the kibosh on crusading district attorney Harvey Dent (Aaron Eckhart).

Meanwhile, Batman and Dent team up with Lt. James Gordon (Gary Oldman) to put the mob's last remaining money launderer out of business. They think they've finally nabbed him when the Joker escalates his campaign in earnest: assassinating a judge, blowing up a hospital and executing Gordon's big witness against the mob. Batman tries to hang on as best he can, but when his best friend (and Harvey's best gal) Rachel gets killed in the middle of it all, even he questions how far he'll have to go to bring this guy down. When the Joker puts the kibosh on Harvey's sanity for good, it turns him into the villainous Two-Face. Batman has to stop not one, but two madmen intent on destroying any semblance of order in the city.</p>
	</h3>

</body>
</html>