<!DOCTYPE html>
<html>
<head>
	<title>BATMAN DARK KNIGHT RISES</title>
	<style>
		h1,h3{
			color:white;
		}
	</style>
</head>
{% load static %}
<body bgcolor="black">
	<h1>BATMAN DARK KNIGHT RISES</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/GokKUqLcvD8?start=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img src="{% static '/images/rises.jpg' %}" width 30%>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
	<h3>It has been eight years since Batman (Christian Bale), in collusion with Commissioner Gordon (Gary Oldman), vanished into the night. Assuming responsibility for the death of Harvey Dent, Batman sacrificed everything for what he and Gordon hoped would be the greater good. However, the arrival of a cunning cat burglar (Anne Hathaway) and a merciless terrorist named Bane (Tom Hardy) force Batman out of exile and into a battle he may not be able to win.</h3>

</body>
</html>