<!DOCTYPE html>
<html>
<head>
	<title>prey</title>
	<style>
		h1,h3{
			color: white;
		text-align: center;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
<h1>BIRDS OF PREY</h1>	
<iframe width="560" height="315" src="https://www.youtube.com/embed/x3HbbzHK5Mc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="{% static '/images/prey.jpg' %}" width="20%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href=""><img src="{% static '/images/button.jpg' %}" width="20%"></a>
<h3>After splitting with the Joker, Harley Quinn joins superheroes Black Canary, Huntress and Renee Montoya to save a young girl from an evil crime lord, Black Mask in Gotham City.</h3>
</body>
</html>