<!DOCTYPE html>
<html>
<head>
	<title>BLACK WIDOW</title>
	<style>
		h1,h3{
			color: white;
		}
	</style>	
	{% load static %}
</head>
<body bgcolor="BLACK">
	<h1>BLACK WIDOW</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OSV0XfJoxPg?start=113" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img src="{% static '/images/widow.jpg' %}" width="20%">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href=""><img src="{% static '/images/button.jpg' %}" width="20%"></a>

	<h3>At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.

	Countless fans in the Marvel Cinematic Universe have been crying out for an origin story of assassin Natasha Romanoff, aka the Black Widow. Next year, they’re finally set to get their wish with the Scarlett Johansson-starring film underway.

It’s also, excitingly, the first glimpse into Marvel’s next era: Phase 4. Set to update the franchise in plenty of new ways and delve into the back stories of some of its most beloved stars, it’s set to bring a whole host of revelations.

After Marvel brought footage and a trailer for Black Widow to this month’s San Diego Comic-Con, anticipation has hotted up for the first movie of Phase 4.

Advertisement</h3>

</body>
</html>