<!DOCTYPE html>
<html>
<head>
	<title>JOKER</title>
	<style>
		h1,h3{
			color: white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
	<h1><center>JOKER</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zAGVQLHvwOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="{% static '/images/joker.jpg' %}" width="20%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
<h3>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</h3>
</center>
</body>
</html>