<!DOCTYPE html>
<html>
<head>
	<title>MAN OF STEEL</title>
	<style>
		h1,h3{
			color: white
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
	<h1>MAN OF STEEL</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/wArmHSPIvlQ?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<img src="{% static '/images/manofsteel.jpg' %}" width="20%">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>
	
	<h3>With the imminent destruction of Krypton, their home planet, Jor-El (Russell Crowe) and his wife seek to preserve their race by sending their infant son to Earth. The child's spacecraft lands at the farm of Jonathan (Kevin Costner) and Martha (Diane Lane) Kent, who name him Clark and raise him as their own son. Though his extraordinary abilities have led to the adult Clark (Henry Cavill) living on the fringe of society, he finds he must become a hero to save those he loves from a dire threat. </h3>
</body>
</html>