<!DOCTYPE html>
<html>
<head>
	<title>MORBIUS</title>
	<style>
		h1,h3{
			color:white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
	<h1>MORBIUS</h1>
	 <iframe width="560" height="315" src="https://www.youtube.com/embed/thkyfGbdYzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	 <img src="{% static '/images/morbius.jpg' %}" width="50%">
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href=""><img src="{% static '/images/button.jpg' %}" width="20%"></a>
	 <h3>Morbius is an upcoming American superhero film based on the Marvel Comics character of the same name, produced by Columbia Pictures in association with Marvel and distributed by Sony Pictures Releasing. It is intended to be the second film in Sony's Marvel Universe. The film was directed by Daniel Espinosa from a script by Matt Sazama & Burk Sharpless and Art Marcum & Matt Holloway, and stars Jared Leto as Michael Morbius alongside Matt Smith, Adria Arjona, Jared Harris, Al Madrigal, and Tyrese Gibson. In the film, Morbius turns into a type of vampire after attempting to cure himself of a rare blood disease.

After announcing plans for a new shared universe of films inspired by Spider-Man characters beginning with Venom (2018), Sony was revealed to be developing one based on Morbius. Sazama and Sharpless had written a script by November 2017, with Marcum and Holloway joining later. Leto and Espinosa officially joined in June 2018. Work began in earnest at the end of the year with further casting, ahead of a production start in February 2019 in London. Filming was confirmed to have been completed by June 2019.

Morbius is scheduled to be released in the United States on July 31, 2020.</h3>

</body>
</html>