<!DOCTYPE html>
<html>
<head>
	<title>SPIDER MAN FAR FROM HOME</title>
	<style>
		h1,h3{
			color: white
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
	<h1>SPIDER MAN FAR FROM HOME</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Nt9L1jCKGnE?start=12" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
	<img src="{% static '/images/spiderman.jpg' %}" width="20%">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/book/"><img src="{% static '/images/button.jpg' %}" width="20%"></a>

	<h3>Peter Parker's relaxing European vacation takes an unexpected turn when Nick Fury shows up in his hotel room to recruit him for a mission. The world is in danger as four massive elemental creatures -- each representing Earth, air, water and fire -- emerge from a hole torn in the universe. Parker soon finds himself donning the Spider-Man suit to help Fury and fellow superhero Mysterio stop the evil entities from wreaking havoc across the continent.</h3>
</body>
</html>