<!DOCTYPE html>
<html>
<head>
	<title>WONDER WOMAN 2</title>
	<style>
		h1{
			color:white;
		}
		h3{
			color:white;
		}
	</style>
	{% load static %}
</head>
<body bgcolor="black">
<h1>WONDER WOMAN 1984</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vNUcjqP11OY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="{% static '/images/wonder.jpg' %}" width="20%">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href=""><img src="{% static '/images/button.jpg' %}" width="20%"></a>
<h3>The trailer also debuts Wonder Woman's brand new suit of armour (far more practical for fighting baddies, if you ask us) and swathes of 1980s pop-culture iconography, including New Order's 'Blue Monday' playing throughout – and plenty of shoulder pads.

A TV spot was released in the United States on January 19, but the footage is the same as in the feature length trailer, just in a slightly different order (sorry to disappoint). But it did seem to hype up American football fans, who were (according to their positive-but-surprised Twitter responses) seemingly unaware the movie was coming.</h3>
</body>
</html>